@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: Miama;
    src: url(../Miama.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    background-color: #000;
}
/* shared style */
.btn-primary {
    padding: 1rem 2.4rem;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-club {
    padding: 1rem 2.4rem;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary-join {
    display: none;
    padding: 1rem 2.4rem;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-secondary {
    padding: 1rem 2.4rem;
    border-radius: 42px;
    border: 1px solid #FFF;
    border-radius: 42px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    background: none;
    cursor: pointer;
}
.section-title {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
.section-description {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 28px 0;
    text-align: center;
}
.width-60 {
    width: 60%;
}
/* header section start here    */

header {
    height: auto;
    /* background-image: linear-gradient(to right top, #040507, #05080a, #060b0b, #090d0b, #0e0f0b); */
    background: Linear-gradient(360.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}
/* navbar start here */
nav {
    width: 80%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand-name {
    color: #E6533C;
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}
ul {
    display: flex;
    gap: 45px;
    padding: 4px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}
ul li {
    list-style: none;
    padding: 8px 20px;
}
.active {
    border-radius: 46px;
    background: #E6533C;
}
ul>li a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
#icon {
    color: #FFF;
    display: none;
}
/* navbar end here */

/* Hero section start here */
.hero-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    position: relative;
}
.hero-title {
    color: #FFF;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 0;
    padding: 50px 0;
}
.hero-description {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 28px 0;
}
#hero-shape {
    color: #FFF;
    font-family: "Miama",sans-serif;
    font-size: 140px;
    font-weight: 400;
    line-height:normal;
}
.hero-content {
    width: 50%;
}
.hero-image {
    width: 349px;
    height: 580px;
}
.hero-image img {
    width: 100%;
}
.workout-videos {
    position: absolute;
    left: 85%;
    top: 20%;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workout-tutorial {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 206px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.workout-videos h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}
.workout-videos p,
.workout-tutorial p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}
.workout-tutorial h3 {
    color: #FAFAF9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}
.circle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E6533C;
}

/* Hero section end here */

/* header section end here    */

/* Habit section start here */
.habit-section {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.habit-subtile {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    margin-top: 30px;
}
.habit-content {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}
.habit-card {
    max-width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.habit-card img {
    border-radius: 50%;
    border: 5px solid rgb(128, 128, 128, 0.3);
}
/* Habit section end here */

/* run an extra mile section start here   */
.run-extra-mile {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.run-extra-mile-content {
    display: flex;
    gap: 160px;
    padding: 30px;
    border-radius: 18px;
    background-color: #222;
}
.run-extra-mile-text {
    width: 50%;
    text-align: left;
}
.run-extra-mile-text>p {
    text-align: left;
}
.run-extra-mile-image {
    width: 366px;
    height: 312px;
}

/* run an extra mile section end here   */

/* Training  section start here   */
.training-section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.training-image-first-row, .training-image-second-row {
    display: flex;
    margin-bottom: -4px;
    
}
.training-section>p {
    text-align: left;
    margin: 10px 0;
    width: 50%;
    margin-bottom: 50px
}
.training-image{
    position: relative;
}
.training-text {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 20%;
    width: 50%;
    z-index: 2;
    
}
.training-color-1{
    top: 0;
    background-color: rgb(89, 219, 192, 0.5);
    width: 250px;
    height: 202px;
    position: absolute;
    z-index: 1;
}
.training-color-2{
    top: 0;
    background-color: rgb(135, 53, 51, 0.5);
    width: 520px;
    height: 202px;
    position: absolute;
    z-index: 1;

}
.training-color-3{
    top: 0;
    background-color: rgb(121, 120, 118, 0.5);
    width: 290px;
    height: 202px;
    position: absolute;
    z-index: 1;

}
.training-color-4{
    top: 0;
    background-color: rgb(91, 81, 70,0.5);
    width: 425px;
    height: 202px;
    position: absolute;
    z-index: 1;

}
.training-color-5{
    top: 0;
    background-color: rgb(109, 157, 77, 0.5);
    width: 288px;
    height: 202px;
    position: absolute;
    z-index: 1;

}
.training-color-6{
    top: 0;
    background-color: rgb(171, 192, 247, 0.5);
    width: 347px;
    height: 202px;
    position: absolute;
    z-index: 1;

}

/* Training  section  end here   */
/* service we provide start here */
.service-provide-section{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .service-provide-section p{
    text-align:left;
    margin: 10px 0 40px 0;
  }
  .service-provide-content{
    display: flex;
    gap: 20px;
  }
  .service-provide-card{
    background-color: #222;
    padding: 20px;
    border-radius: 16px;
  }
  .card-title{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;

  }
  
  
  /* service we provide end here */
/*BMI section start here */
.bmi-section {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.bmi-section>h2,
.bmi-section>p {
    text-align: left;
    margin-top: 5px;
    width: 60%;
    margin: 0 auto;
}

/* BMI section end here */

/* Calculate BMI section start here */
.bmi-calculate-section {
    display: flex;
    background: #222;
    padding: 50px 10%;
    margin-bottom: 100px;

}

.bmi-calculate-title {
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
}

.bmi-calculate-description {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.bmi-calculate-table {
    width: 45%;
}

table {
    margin-top: 40px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
}

th {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

th,
td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

td {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;

}

.bmi-calculate-input>h3 {
    margin-bottom: 5px;
}

.bmi-calculate-input>p {
    margin-bottom: 30px;
    max-width: 560px;
    text-align: left;
    margin-top: 14px;
}

.bmi-calculate-input-1 input {
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    margin-right: 10px;
    padding: 12px 40px 12px 20px;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.bmi-calculate-input-2 input,
#sex,
#sex>option {
    width: 250px;
    height: 40px;
    margin-right: 6px;
    padding: 12px 40px 10px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

select>option {
    padding-right: 30px;
}

#activity-factor {
    margin: 10px 0;
    width: 510px;
    height: 40px;
    padding: 12px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* Calculate BMI section end here */


/* Our Team section start here */
.team-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.team-container>h3 {
    text-align: center;
}

.team-container>p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 58px;
}

.team-image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 18px;
}

.team-image-section img {
    border-radius: 18px;

}

.team-card {
    position: relative;
}

.team-text {
    position: absolute;
    top: 75%;
    left: 10%;
}

.team-trainer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
}

.team-position {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

/* Our Team section end here */

/* Footer section start here */
.footer {
    background-color: rgba(255, 255, 255, 0.10);
    margin-bottom: 0;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 100px;

}

.footer-left-text {
    width: 45%;
    height: auto;
}

.footer-left-text p {
    text-align: left;
}

.footer-heading {
    color: #E6533C;
    font-family: Inter;
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
    margin-top: 50px;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 10px;

}

.footer-link-heading {
    color: #FFF;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 50px 0 40px 0;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.hr {
    width: 80%;
    margin: 40px auto;
}

/* Footer section end here */

/* responsive for mobile   */
.hidden {
    display: none;
}

@media screen and (max-width: 576px) {
    .service-provide-content,
    .bmi-calculate-section,
    .footer-content,
    .training-image-first-row,
    .training-image-second-row,
    .run-extra-mile-content,
    .hero-section,
    .habit-content {
        flex-direction: column;
    }
    .menu {
        display: none;
    }
    #icon {
        font-size: 18px;
        color: #FFF;
        display: block;
    }
    .hero-title {
        color: #FFF;
        font-family: Inter;
        font-size: 36px;
        font-weight: 900;
    }
    .workout-videos {
        position: absolute;
        left: 60%;
        top: 55%;
        width: 150px;
        height: 74px;
    }
    .workout-videos h2,
    .workout-tutorial h2 {
        font-size: 30px;
    }
    .workout-videos p,
    .workout-tutorial p {
        font-size: 9px;
    }
    .workout-tutorial {
        position: absolute;
        left: 10%;
        top: 72%;
        width: 145px;
        height: 72px;
    }
    .hero-content {
        width: 100%;
    }
    #hero-shape{
        font-size: 5rem;
    }
    .hero-image img {
        width: 100%;
        margin-left: 5%;

    }
    .hero-btn {
        display: flex;
        gap: 10px;
    }
    .btn-primary-club {
        display: none;
    }
    .btn-primary-join {
        display: block;
        padding: 0.7rem 1.5rem;
        font-size: 13px;
    }
    .btn-secondary {
        padding: 0.7rem 1.5rem;
        font-size: 13px;
    }
    .habit-section h2 {
        font-size: 32px;
    }
    .habit-section p {
        width: 90%;
        text-align: center;
        margin: 10px 0;
    }
    .habit-content {
        margin-top: 20px;
    }
    .run-extra-mile {
        margin-bottom: 50px;
    }
    .run-extra-mile h2 {
        font-size: 32px;
    }
    .run-extra-mile-content {
        gap: 60px;
    }
    .run-extra-mile-text {
        width: 100%;
    }
    .run-extra-mile-image {
        width: 100%;
        height: auto;
    }
    .run-extra-mile-image img {
        width: 100%;
        height: auto;
    }
    .run-extra-mile-text>.btn-primary {
        width: 100%;
    }
    .training-section>p {   
        width: 90%;  
    }
    .training-image{
       width: 90%;
       margin: 0 auto;
    }
    .training-image img{
        max-width: 270px;
        height:202px;
     }
    .training-color-1,
    .training-color-2,
    .training-color-3,
    .training-color-4,
    .training-color-5,
    .training-color-6{
        width: 270px;
        height:202px;
    }
    .training-image-first-row p {
        width: 100%;
    }
    .bmi-section {
        width: 80%;
        padding-bottom: 20px;
    }
    .bmi-section h2 {
        font-size: 2rem;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    .bmi-section p {
        width: 100%;
        text-align: left;
    }
    .bmi-calculate-input {
        font-size: 16px;
    }
    .bmi-calculate-table {
        width: 100%;
    }
    #activity-factor {
        width: 98%;
        margin-bottom: 20px;
    }
    .bmi-calculate-input-1,
    .bmi-calculate-input-2 {
        margin-right: 0;
        display: flex;
    }
    .bmi-calculate-input-1 input {
        margin-bottom: 10px;
        width: 50%;
        margin-right: 5px;
    }
    .bmi-calculate-input-2 input,
    #sex,
    #sex>option {
        width: 50%;
    }
    .bmi-calculate-table {
        margin-bottom: 20px;
    }
    .team-container h3 {
        font-size: 32px;
        margin-top: 20px;
    }
    .team-container p {
        width: 100%;
    }
    .team-image-section {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .team-image-section img {
        border-radius: 18px;
        width: 100%;
    }
    .footer-content {
        width: 90%;
        gap: 20px;
        padding: 0 20px;
    }
    .footer-left-text {
        width: 100%;
        margin-bottom: 0;
    }
    .footer-link-heading {
        margin: 10px 0 10px 0;
    }

}