@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: Miama;
    src: url(../Miama.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.btn-primary {
    padding: 1rem 2.4rem;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary {
    padding: 1rem 2.4rem;
    border-radius: 42px;
    border: 1px solid #FFF;
    border-radius: 42px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    background: none;
    cursor: pointer;

}

.section-title {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.section-description {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 28px 0;
    text-align: center;
}

.width-60 {
    width: 60%;
}

/* header section start here    */
body {
    max-width: 1440px;
    background-color: #000;
}

header {
    height: auto;
    background-image: linear-gradient(to right top, #040507, #05080a, #060b0b, #090d0b, #0e0f0b);
    border: 2px solid red;
}

/* navbar start here */
nav {
    width: 80%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-name {
    color: #E6533C;
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}

ul {
    display: flex;
    gap: 45px;
    padding: 4px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

ul li {
    list-style: none;
    padding: 8px 20px;
}

.active {
    border-radius: 46px;
    background: #E6533C;
}

ul>li a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

#icon {
    color: #FFF;
    display: none;
}

/* navbar end here */

/* Hero section start here */
.hero-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    position: relative;
}

.hero-title {
    color: #FFF;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
}

.hero-description {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 28px 0;
}

#hero-shape {
    color: #FFF;
    font-family: Miama;
    font-size: 78px;
    font-weight: 400;
}

.hero-content {
    width: 50%;
}

.hero-image {
    width: 349px;
    height: 580px;
}

.hero-image img {
    width: 100%;

}

.workout-videos {
    position: absolute;
    left: 85%;
    top: 20%;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workout-tutorial {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 206px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.workout-videos h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}

.workout-videos p,
.workout-tutorial p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.workout-tutorial h3 {
    color: #FAFAF9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}

.circle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E6533C;
}

/* Hero section end here */

/* header section end here    */
/* Habit section start here */


.habit-section {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habit-subtile {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    margin-top: 30px;
}

.habit-content {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.habit-card {
    max-width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.habit-card img {
    border-radius: 50%;
    border: 5px solid rgb(128, 128, 128, 0.3);

}

/* Habit section end here */

/* run an extra mile section start here   */
.run-extra-mile {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.run-extra-mile-content {
    display: flex;
    gap: 160px;
    padding: 30px;
    border-radius: 18px;
    background-color: #222;
}

.run-extra-mile-text {
    width: 50%;
    text-align: left;
}

.run-extra-mile-text>p {
    text-align: left;
}

.run-extra-mile-image {
    width: 366px;
    height: 312px;

}


/* run an extra mile section end here   */

/* habit section start here   */
.training-section {
    width: 80%;
    margin: 0 auto;
}

.training-section>p {
    text-align: left;
    margin: 14px 0;
}

.training-image-first-row {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.6fr;
}

/* habit section end here   */

/*BMI section start here */
.bmi-section {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.bmi-section>h2,
.bmi-section>p {
    text-align: center;
    margin-top: 5px;
    max-width: 60%;
    margin: 0 auto;
}

/* BMI section end here */

/* Calculate BMI section start here */
.bmi-calculate-section {
    display: flex;
    background: #222;
    padding: 50px 10%;

}

.bmi-calculate-title {
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
}

.bmi-calculate-description {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.bmi-calculate-table {
    width: 45%;
}

table {
    margin-top: 40px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
}

th {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

th,
td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

td {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;

}

.bmi-calculate-input>h3 {
    margin-bottom: 5px;
}

.bmi-calculate-input>p {
    margin-bottom: 30px;
    max-width: 560px;
    text-align: left;
    margin-top: 14px;
}

.bmi-calculate-input-1 input {
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    margin-right: 10px;
    padding: 12px 40px 12px 20px;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.bmi-calculate-input-2 input,
#sex,
#sex>option {
    width: 250px;
    height: 40px;
    margin-right: 6px;
    padding: 12px 40px 10px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
select>option{
    padding-right: 30px;
}
#activity-factor{
    margin: 10px 0;
    max-width: 510px;
    height: 40px;
    padding: 12px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
/* Calculate BMI section end here */



/* Our Team section start here */
.team-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.team-container>h3 {
    text-align: center;
}

.team-container>p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 58px;
}

.team-image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 18px;
}

.team-image-section img {
    border-radius: 18px;

}

.team-card {
    position: relative;
}

.team-text {
    position: absolute;
    top: 75%;
    left: 10%;
}

.team-trainer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
}

.team-position {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

/* Our Team section end here */

/* Footer section start here */
.footer {
    background-color: rgba(255, 255, 255, 0.10);
    margin-bottom: 0;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 100px;

}

.footer-left-text {
    width: 45%;
    height: auto;
}

.footer-left-text p {
    text-align: left;
}

.footer-heading {
    color: #E6533C;
    font-family: Inter;
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
    margin-top: 50px;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 10px;

}

.footer-link-heading {
    color: #FFF;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 50px 0 40px 0;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.hr {
    width: 80%;
    margin: 40px auto;
}

/* Footer section end here */

/* responsive for mobile   */
.hidden {
    display: none;
}

@media screen and (max-width: 576px) {
    .bmi-calculate-section,
    .footer-content,
    .training-image-first-row,
    .run-extra-mile-content,
    .hero-section,
    .habit-content {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    #icon {
        font-size: 18px;
        color: #FFF;
        display: block;
    }

    .hero-title {
        color: #FFF;
        font-family: Inter;
        font-size: 36px;
        font-weight: 900;
    }
    .workout-videos {
        position: absolute;
        left: 40%;
        top: 20%;
        
    }

    .hero-content {
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        margin-left: 10%;

    }

    .run-extra-mile-content {
        gap: 60px;
    }

    .run-extra-mile-text {
        width: 100%;
    }

    .run-extra-mile-image {
        width: 100%;
        height: auto;
    }

    .run-extra-mile-image img {
        width: 100%;
        height: auto;
    }

    .run-extra-mile-text>.btn-primary {
        width: 100%;
    }

    .training-image-first-row p {
        width: 100%;

    }

    .team-image-section {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;

    }

    .team-image-section img {
        border-radius: 18px;
        width: 100%;

    }

    .footer-content {
        width: 90%;
        gap: 20px;
        margin-left: 40px;

    }

    .footer-left-text {
        width: 100%;
        margin-bottom: 0;
    }

    .footer-link-heading {
        margin: 10px 0 10px 0;
    }


}